# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\00 网站项目\mtserver\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
